body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
.form-header {
    width: 100%;
    padding: 30px;
}
.back {
    background-color: #C0392B; 
    	height: 150px; /*namilekooo  */
}

.white {
    color: white;
}

.p{
	padding: 25px;
	background-color: #ECF0F1;


}
.h3, h3 {
    font-size: 30px;
font: bold;    
    
}
.form-top-right{
	width : 25%;
	float:left;
	font-size: 66px;
}
.form-top-left{
	width : 75%;
	float:left;
}
.login-btn {
	margin-top:45px; /* for login form only  */
}
.login-btnReset {
	margin-top:0px; /* for resetpassword form only  */
}
hr{
	margin-top: 10px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #716666;
}
.pullright {
	margin-left: 31%;
	padding-top: 8px;
}


.border {
    border: 2px solid ;
    border-radius: 25px;
    overflow: hidden;
} 
.form_margin{
	margin-top: 60px;
}
#errmsg {
	color:red;
}

/*Css for Reset Pasword Form  */
.form_margin_resetPassword_only{
	margin-top: 150px;
}

.login-btn_resetPassword_only{
	margin-top:15px;
}

..fa{
	font-size:50px !important;
}